html {
  min-height: 100%;
  position: relative;
  font-family: "Roboto";
}

.header {
  background-color: #010101;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 100px;
  object-fit: fill;
}

.menu {
  background-image: url(../img/menu-icon.png);
}

.main {
  height: 80vh;
}

.seccion_1 {
  background-color: #529cf1;
  height: 50%;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}
.title-sec1 {
  font-size: 32px;
  text-align: center;
}
.subtitle-sec1 {
  font-size: 20px;
}

.button-green {
  background-color: #2bb85a;
  color: white;
  border: 2px solid #2bb85a;
  border-radius: 50px;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 450px;
}

.seccion_2 {
  background-color: #fefefe;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.item-sec2 {
  display: flex;
}
.item-sec2 div {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #010101;
  height: 100px;
  width: 100%;
}
/*arreglar el footer para que quede fijo abajo*/
