<section class="section_2">
  <h2 class="title2">¿Por qué pasarte a Premium?</h2>
  <div class="articles">

    <include src="item_sec_2.html" imagen="./assets/images/benefit-1.png" altImg="Icono descarga"
      title="Descarga música" desc="Llévala siempre contigo."></include>

    <include src="item_sec_2.html" imagen="./assets/images/benefit-2.png" altImg="Icono no anuncio" title="Sin anuncios"
      desc="Disfruta de música sin interrupciones."></include>

    <include src="item_sec_2.html" imagen="./assets/images/benefit-3.png" altImg="Icono escucha lo que quieras"
      title="Escucha lo que quieras" desc="Incluso en el móvil."></include>


    <include src="item_sec_2.html" imagen="./assets/images/benefit-4.png" altImg="Icono saltar canciones"
      title="Salta todas las canciones que quieras" desc="implemente dale a siguiente."></include>

  </div>
</section>