<section class="section1">
  <div class="section1__container">
    <h1 class="section1__container--title">Prueba Premium gratis 3 meses</h1>
    <h2 class="section1__container--subtitle">
      Escucha millones de canciones sin anuncios, a la carta y sin
      conexión.
    </h2>
    <a href="#" class="section1__container--button">Ver planes</a>
    <p class="section1__container--terms">
      Rigen términos y condiciones. Los tres meses gratis no están
      disponibles para usuarios que ya hayan probado Premium.
    </p>
  </div>
</section>