.section2 {
  background-color: #fefefe;
  padding: 45px 10px 30px;
  @include displayType(0, center);
  flex-direction: column;
  &__title {
    @include fontType(3.2rem, 900);
    text-align: center;
  }
  &__articles {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    @media (min-width: 480px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}

.sec2__item {
  display: flex;
  @media (min-width: 480px) {
    align-items: center;
    flex-shrink: initial;
  }
  @media (min-width: 1000px) {
    flex-direction: column;
    gap: 30px;
  }
  &--img {
    width: 50%;
    display: flex;
    justify-content: center;
    & img {
      height: 100px;
      @media (min-width: 1000px) {
        height: 150px;
        padding-top: 20px;
      }
    }
  }
  &--info {
    width: 50%;
    & h3 {
      font-size: 1.6rem;
    }
    & p {
      margin-top: 10px;
      color: $secundaryColor;
    }
  }
}
