 @import 'core/variables';
 @import 'core/reset';
 @import 'core/mixins';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
@import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';


.main {
  min-height: 100vh;
}

.section_1 {
  background-color: #529cf1;
}

.container1 {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: flex-end;
  padding: 0 10px 60px;
  color: $primaryColor;
  gap: 25px;
}
.title1 {
  @include fontType(4rem, 900);

}
.subtitle1 {
  font-size: 2.2rem;
}
.button1 {
  background-color: #2bb85a;
  color: $primaryColor;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: 900;
  max-width: 320px;
}
.terms1 {
  font-size: 1rem;
}

.section_2 {
  background-color: #fefefe;
  padding: 45px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 900;
}
.articles {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.item-sec2 {
  display: flex;
}
.img2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.img2 img {
  height: 100px;
}
.info2 {
  width: 50%;
}
.info2 h3 {
  font-size: 1.6rem;
}

.info2 p {
  margin-top: 10px;
  color: $secundaryColor;
}

.footer {
  background-color: $colorHeaderFooter;
  color: $secundaryColor;
  display: flex;
}
.nav-footer {
  width: 60%;
}
.copyright {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.ul-footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

@media (min-width: 480px) {
  .section_1 {
    background-image: url(../images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 350px;
    background-position-y: bottom;
  }
  .container1 {
    max-width: 800px;
    padding-inline: 30px;
    gap: 30px;
  }
  .title1 {
    font-size: 5rem;
  }
  .button1 {
    max-width: 150px;
  }

  .articles {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .item-sec2 {
    align-items: center;
    width: 300px;
    flex-shrink: initial;
  }

}

/*HACER QUE EL ÍTEM 1 Y EL 2 DECIRLES CON FLEX EL ESPACIO QUE DEBEN OCUPAR*/

@media (min-width: 1000px) {
  .section_1 {
    background-size: 380px;
  }
}



