// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  position: relative;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
}
/*PREGUNTAR SI ES NECESARIO PONERLO TODO EN COLUMNA CUANDO LLEGUE A ESE TAMAÑO EN PANTALLAS MUY GRANDES*/
/*HACE FALTA PONER UN MÁXIMO PARA QUE NO SE DESPLAZE MUCHO LA IMAGEN?
POner header, color azul y footer entero con max-width*/

header {
  background-color: black;
  display: flex;
  position: sticky;
  z-index: 100px;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

.header_img {
  height: 48px;
  padding: 12px;
}

.header_nav {
  display: none;
}
.main {
  min-height: 100vh;
}

.section_1 {
  background-color: #529cf1;
}

.container1 {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: flex-end;
  padding: 0 10px 60px;
  color: white;
  gap: 25px;
}
.title1 {
  font-size: 4rem;
  font-weight: 900;
}
.subtitle1 {
  font-size: 2.2rem;
}
.button1 {
  background-color: #2bb85a;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: 900;
  max-width: 320px;
}
.terms1 {
  font-size: 1rem;
}

.section_2 {
  background-color: #fefefe;
  padding: 45px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 900;
}
.articles {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.item-sec2 {
  display: flex;
}
.img2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.img2 img {
  height: 100px;
}
.info2 {
  width: 50%;
}
.info2 h3 {
  font-size: 1.6rem;
}

.info2 p {
  margin-top: 10px;
  color: #54585a;
}

.footer {
  background-color: black;
  color: #54585a;
  display: flex;
}
.nav-footer {
  width: 60%;
}
.copyright {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.ul-footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

@media (min-width: 480px) {
  .section_1 {
    background-image: url(../images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 350px;
    background-position-y: bottom;
  }
  .container1 {
    max-width: 800px;
    padding-inline: 30px;
    gap: 30px;
  }
  .title1 {
    font-size: 5rem;
  }
  .button1 {
    max-width: 150px;
  }

  .articles {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .item-sec2 {
    align-items: center;
    width: 300px;
    flex-shrink: initial;
  }
  .burguer-menu {
    display: none;
  }
  .header_nav {
    display: flex;
    color: white;
  }
  .header-ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    padding: 25px;
    font-size: 1.1rem;
    font-weight: 900;
  }
}

/*HACER QUE EL ÍTEM 1 Y EL 2 DECIRLES CON FLEX EL ESPACIO QUE DEBEN OCUPAR*/

@media (min-width: 1000px) {
  .section_1 {
    background-size: 380px;
  }
}



